.THIS.board {
    background-color: #fff;
    position: relative;
}

.THIS .winWord{
    font-weight: bold !important;
    text-transform: uppercase;
}
.THIS .board_disabled{
    z-index: 1;
    height: 100%;
    width: 100%;
    cursor: not-allowed;
    position: absolute;
    top: 0;
    left: 0;
}